{% extends "base.html" %}

{% block content %}

<form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h5>Add post</h5>
    <br>
    <br>
    <div id='app'>
        [[message]]
    <div @click.once="getListTags"><input list="tags" v-model.lazy="tags" class="form-control" name="earlier_tag" style="width: 300px;"></div>
    <datalist id="tags">
        <option v-for='tag in tags'> [[tag.name]]</option>
    </datalist>
    </div>
    <br>
    {{ post.as_p }}
    {{ img.as_p }}
    <button type="submit" class="btn btn-dark btn-block">Create post</button>
</form>

{% endblock %}
