{% extends "base.html" %}

{% block content %}

<form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h5>Add post</h5>
    <br>
    <br>
    <div id='app'>
        <div class="form-check form-switch">
            <div @click.once="getListTags" @click="hidecont">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                       :checked="checked" v-model="isCheck"></div>
            <label class="form-check-label" for="flexSwitchCheckDefault">Add tag</label>
        </div>
        <input list="tags" class="form-control" name="earlier_tag" style="width: 300px;" v-if="checked">
        <datalist id="tags" >
            <option v-for='tag in tags'> [[tag.name]]</option>
        </datalist>
    </div>
    <br>
    {{ post.as_p }}
    {{ img.as_p }}
    <button type="submit" class="btn btn-dark btn-block">Create post</button>
</form>

{% endblock %}
