{% extends 'base.html' %}
{% load subtraction %}

{% block tittle %} {{post.title}} {% endblock %}

{% block content %}

<div class="card mb-3">
    <div class="card-header"> Title: {{ post.title }}</div>
    <p class="card-text"><small class="text-muted">
        TAGS
        {% for item in tag %}
        | {{ item.tag.name }}
        {% endfor %}
    </small>
        {% if request.user.id == post.author.id %}
    <form method="post">
        {% csrf_token %}
        <h5>Add tag</h5>
        <div id='app'>
        [[message]]
    <div @click="getListTags"><input list="tags" class="form-control" name="earlier_tag" style="width: 300px;"></div>
    <datalist id="tags">
        <option v-for='tag in tags'> [[tag.name]]</option>
    </datalist>
        <br>
        <button type="submit" class="btn btn-dark btn-block" name="add_tag">Add tag</button>
    </form>
    {% endif %}
    </p>
    <p class="card-text"><small class="text-muted">Created by
        <a href="{% url 'profile' post.author.id %}"> {{ post.author }}</a> at
        {{post.created|date:"Y-m-d H:i"}} </small></p>
    <div class="card-body">
        <div class="media">
            {% if img and img.image.image %}
            <img src="{{ img.image.image.url }}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="https://picsum.photos/id/1060/350/600?blur=5" alt="" class="mr-3">
            {% endif %}
            <div class="media-body">
                <p class="card-text">{{ post.description }}</p>
            </div>
        </div>
        <div class="card-footer text muted">
            {% with x=upvotes|length y=downvotes|length %}
            <h3> Upvotes | {{ x|sub:y }} </h3>
            {% endwith %}
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark" formaction="{% url 'upvote_post' post.id %}">
            {% if upvote %}
            Upvoted
            {% else %}
            Upvote
            {% endif %}
        </button>
        <----->
        <button type="submit" class="btn btn-dark" formaction="{% url 'downvote_post' post.id %}">
            {% if downvote %}
            Downvoted
            {% else %}
            Downvote
            {% endif %}
        </button>
    </form>
</div>


<form action="" method="post">
    {% csrf_token %}
    <h5>Add comment</h5>
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark btn-block" name="add_comment">Create comment</button>
</form>
<br>
{% for comment in comments %}
<div class="card mb-3">
    <div class="card-body">
        <div class="media-body">
            <h6 class="card-title">
                <a href="{% url 'profile' comment.author.id %}"> {{ comment.author }}</a> say:</h6>
            <p class="card-text">{{ comment.body }}</p>
        </div>
    </div>
</div>
<div class="card-footer text-muted">
    Created: {{ comment.created|date:"Y-m-d H:i:s" }}
</div>
</div>
{% endfor %}
</div>

{% endblock %}
