{% extends "base.html" %}

{% block tittle %} Info about you {% endblock %}

{% block content %}

{% if facebook_login %}
<p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">
    {{ facebook_login.extra_data.id }}</a></p>
{% if can_disconnect %}
<form method="post" action="{% url 'social:disconnect' 'facebook' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-block">Disconnect from Facebook</button>
</form>
{% else %}
<button type="button" disabled>Disconnect from Facebook</button>
<p style="color: red">You must <a href="{% url 'change_password' %}">define a password</a> for your account before
    disconnecting from Facebook.</p>
{% endif %}
{% else %}
<a href="{% url 'social:begin' 'Facebook' %}">Connect to Facebook</a>
{% endif %}

{% if google_login %}
<p>Connected as <a href="https://google.com/{{ google_login.extra_data.id }}/" target="_blank">
    {{google_login.extra_data.id}}</a></p>
{% if can_disconnect %}
<form method="post" action="{% url 'social:disconnect' 'google' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-block">Disconnect from GitHub</button>
</form>
{% else %}
<button type="button" disabled>Disconnect from Gogle</button>
<p style="color: red">You must <a href="{% url 'change_password' %}">define a password</a> for your account before
    disconnecting from Goolge.</p>
{% endif %}
{% else %}
<a href="{% url 'social:begin' 'google' %}">Connect to Google</a>
{% endif %}

<form action="{% url 'change_info' %}" method="post">
    {% csrf_token %}
    <h5>Info</h5>
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark btn-block">Update</button>
</form>

{% endblock %}
