{% extends "base.html" %}

{% block content %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <h5>Login</h5>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">login</button>
</form>

<br>
<p><strong>-- OR --</strong></p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-dark btn-block" formaction="{% url 'social:begin' 'github' %}">
        Login with GitHub</button>
    <button type="submit" class="btn btn-danger btn-block" formaction="{% url 'social:begin' 'google-oauth2' %}">
        Login with Google</button>
</form>

{% endblock %}
