{% extends 'base.html' %}


{% block tittle %} All posts {% endblock %}

{% block content %}

<div class="card mb-3">
    <div class="card-body">
        <div class="media">
            {% if img %}
            <img src="{{img.image.image.url}}" class="mb-3" width="200" height="200" alt="">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ profile }} </h5>
                <h6>Bio:</h6>
                <p class="card-text">{{ profile.bio }}</p>
            </div>
        </div>
        {% if request.user.id != profile.id %}
        <form action="{% url 'following' profile.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                {% if follow %}
                Unfollow
                {% else %}
                Follow
                {% endif %}
            </button>
            {% endif %}
        </form>
    </div>
    <div class="card-footer text muted">
        <a href="{% url 'post' profile.id %}"> User`s posts | {{ post|length }} </a>   <>
        <a href="{% url 'followers' profile.id %}"> Followers | {{ follower|length }} </a>
    </div>
</div>
{% if img %}
<h3>All {{profile.first_name}}`s photo </h3>
<div class="card mb-3">
    <div class="card-body">
        {% for img in all_images %}

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="media">
                    <img src="{{img.image.image.url}}" class="mb-5" width="100" height="100" alt="...">
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}