{% extends 'base.html' %}


{% block tittle %} All posts {% endblock %}

{% block content %}

<br>
<div class="card mb-3">
    <div class="card-body">
        <div class="media">
            {% if img %}
            <img src="{{img.image.image.url}}" class="mb-3" width="200" height="200" alt="">
            {% endif %}
            {% if request.user.id == profile.id%}
            <br>
            <a href="{% url 'add_avatar'%}"> Add or change avatar</a>
            <br>
            <a href="{% url 'change_password'%}">Change password</a>
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ profile }} </h5>
                <p class="card-text">{{ profile.bio }}</p>
            </div>
        </div>
        {% if request.user.id != profile.id %}
        <a href="{% url 'following' profile.id %}">
        {% if follow %}
            Unfollow
        {% else %}
            Follow
        {% endif %}
            </a>
        {% endif %}
    </div>
    <div class="card-footer text muted">
        <a href="{% url 'post' profile.id %}"> User`s posts | {{ post|length }} </a>
    </div>
    <div class="card-footer text muted">
        <a href="{% url 'followers' profile.id %}"> Followers | {{ follower|length }} </a>
    </div>
</div>

<h3>All {{profile}}`s photo </h3>
<div class="card mb-3">
    <div class="card-body">
{% for img in all_images %}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="media">
      <img src="{{img.image.image.url}}" class="mb-5" width="100" height="100" alt="...">
    </div>
  </div>
</div>

{% endfor %}
    </div>
</div>

{% endblock %}