<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <title>{% block title %} Socialgramm {% endblock %}</title>
</head>
<body>
{% include 'inc/nav.html' %}
<div class="container mt-3">
    <div class="row">
        {% if request.user.is_authenticated %}
        <div class="col-md-3">
            {% include 'inc/side.html' %}
        </div>
        {% endif %}
        <div class="col-md-9">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li> {{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}
            <h1>Hello</h1>
            {% endblock %}
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.min.js"
        integrity="sha512-rCO3ZZnxh9j/Y725Iq2Cqr2lc9fi83zVeN3PFTUosktylZsCFjD13PDbKrzKjKO/idjM4KlMQC52AsoGFTAe6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'main.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>